<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>prefermeta</string>
		<key>Title</key>
		<string>Prefer Site Metatags</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bitlyusername</string>
		<key>Title</key>
		<string>Bit.ly Support</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bitlyusername</string>
		<key>Title</key>
		<string>Bit.ly Username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bitlykey</string>
		<key>Title</key>
		<string>Bit.ly API Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
